# ============================== 
# Python 
# ============================== 

__pycache__/ 
*.py[cod] 
*.pyo 

# ============================== 
# Virtual environments 
# ============================== 

.venv/ 
venv/ 

# ============================== 
# Environment variables / secrets 
# ============================== 

.env 

# ============================== 
# Jupyter Notebook 
# ============================== 

.ipynb_checkpoints/ 

# ============================== 
# VS Code 
# ============================== 

.vscode/ 

# ============================== 
# Databases 
# ============================== 

*.db 
*.sqlite 
*.sqlite3 

# ============================== 
# Operating system 
# ============================== 

.DS_Store 
Thumbs.db 

# ============================== 
# Logs / temporary files 
# ============================== 

*.log 
*.tmp 
*.temp